@import url('https://rsms.me/inter/inter.css');
@import url('https://cdn.jsdelivr.net/gh/cntnd/core_style@1.2.0/dist/core_style.css');

:root {
  --popup-margin: 50px auto;
  --popup-width: 65%;
  --popup-content-height: calc(90% - 100px);
}

body {
  font-family: 'Inter', sans-serif !important;
}

.w-32 {
  width: 32%;
}

a:link,
a:visited {
  color: var(--btn-color-base);
}

a:hover,
a:active {
  color: var(--btn-color-dark);
}

.header__action {
  font-size: smaller;
  font-weight: 500;
  margin-left: .5rem;
  color: var(--btn-color-base);
  text-decoration: underline;
  cursor: pointer;
}

a.material-symbols-outlined {
  text-decoration: none;
}

.material-symbols-outlined.danger {
  color: var(--btn-color-danger);
}

.card {
  margin-bottom: 10px;
}

.card--list .card-body {
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.card--list .card-body:last-child {
  border-bottom: none;
}
.card--list .card-body:nth-child(even) {
  background: rgba(0,0,0,.01);
}
.popup {
  margin: 10px auto !important;
}

.popup form {
  margin: 0;
}

.popup .highlight {
  background: rgba(255, 223, 0, 0.5);
}

.popup .form-check-input.highlight + label {
  border-radius: 2px;
  background: rgba(255, 223, 0, 0.5);
}

.popup .action {
  margin-top: 10px;
}

.action button.btn-primary {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
}

.popup .action button.right {
  float: right;
}

.popup .form-group {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.popup .form-check-inline {
  width: 23%;
}

.tabs__content--pane.spreadsheet {
  padding: 1px 0;
}

.add_contact,
.remove_contact,
.popup .close {
  cursor: pointer;
}

#exampleParent {
  height: 80%;
  overflow: hidden;
  width: 100%;
}

.spreadsheet__toolbar {
  background-color: rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: .5rem;
  padding: .25rem;

  display: flex;
}
.spreadsheet__toolbar * {
  margin-right: .5rem;
}
.spreadsheet__toolbar input {
  height: 2rem;
}