@import url('https://rsms.me/inter/inter.css');

:root {
  --popup-margin: 50px auto;
  --popup-width: 65%;
  --popup-content-height: calc(90% - 100px);
}

body {
  font-family: 'Inter', sans-serif !important;
}

.w-32 {
  width: 32%;
}
a:link,
a:visited {
  color: var(--btn-color-base);
}
a:hover,
a:active {
  color: var(--btn-color-dark);
}

a.header__action {
  font-size: smaller;
  font-weight: 500;
  margin-left: .5rem;
}

a.material-symbols-outlined {
  text-decoration: none;
}
.material-symbols-outlined.danger {
  color: var(--btn-color-danger);
}

.card {
  margin-bottom: 10px;
}

.popup form {
  margin: 0;
}

.popup .form-group.highlight input {
  background: rgba(255, 223, 0, 0.5);
}
.popup .form-check.highlight {
  border-radius: 2px;
  background: rgba(255, 223, 0, 0.5);
}

.popup .action {
  margin-top: 10px;
}
.action button.btn-primary {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
}
.popup .action button.right {
  float: right;
}

.popup .form-group {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.popup .form-check-inline {
  width: 23%;
}

.tabs__content--pane.spreadsheet {
  padding: 1px 0;
}